---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import GitHubStats from "@/components/mdx/GitHubStats.astro";
import RepositoryCard from "@/components/mdx/RepositoryCard.astro";
---

<BaseLayout title="Anssi CVE">
  <MainCard
    title="Veille cybersécurité – Alertes de l’ANSSI"
    description="Explorer les dernières vulnérabilités CVE publiées par l'ANSSI."
    textOverlay="ANSSI"
    infoIcon="lucide:code-2"
  >
    <!--  Anssi CVE -->
    <section class="py-4">
      <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
        <Icon name="lucide:folder" class="w-6 h-6 text-primary" />
        <span>Dernières CVE publiées</span>
      </h2>
      <div class="flex justify-center mt-10">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <section id="vulnerabilities">
                <div id="security-updates-list" aria-live="polite">
                  <p>Chargement des alertes de sécurité...</p>
                </div>
            </section>
        </div>
      </div>
    </section>
  </MainCard>
</BaseLayout>