---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import RSSParser from "rss-parser";

const parser = new RSSParser();
const feed = await parser.parseURL('https://www.cert.ssi.gouv.fr/feed/');

// Limiter à 5 articles
const latestCVEs = feed.items.slice(0, 20);
---

<BaseLayout title="Anssi CVE">
  <MainCard
    title="Veille cybersécurité – Alertes de l’ANSSI"
    description="Explorer les dernières vulnérabilités CVE publiées par l'ANSSI."
    textOverlay="ANSSI"
    infoIcon="lucide:code-2"
  >
    <section class="py-4">
      <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
        <Icon name="lucide:folder" class="w-6 h-6 text-primary" />
        <span>Dernières CVE publiées</span>
      </h2>
      <div class="flex justify-center mt-10">
        <div id="security-updates-list" aria-live="polite">
          <ul class="space-y-4">
            {latestCVEs.map(item => (
              <li>
                <a href={item.link} target="_blank" rel="noopener noreferrer" class="text-blue-600 underline">
                  {item.title}
                </a>
                <p class="text-sm text-gray-500">{item.pubDate}</p>
              </li>
            ))}
          </ul>
        </div>
      </div>
    </section>
  </MainCard>
</BaseLayout>
