footer {
    background-color: #1e90ff;
    color: #ffffff;
    text-align: center;
    padding: 1em;
    border-top: 2px solid #ffffff;
}

footer a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}