footer {
    background-color: #ffffff;
    color: #1e90ff;
    text-align: center;
    padding: 1em;
    border-top: 2px solid #1e90ff;
}

footer a {
    color: #1e90ff;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #4169e1;
    text-decoration: underline;
}