#rss-feeds-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2em;
}

.rss-feed {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
}

.rss-feed-header {
    background-color: #f0f8ff;
    padding: 1em;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #1e90ff;
    height: 70px; /* Définir une hauteur fixe pour l'en-tête */
}

.rss-feed-logo {
    width: 50px; /* Largeur fixe */
    height: 50px; /* Hauteur fixe */
    margin-right: 1em;
    object-fit: contain; /* Maintient les proportions de l'image */
    object-position: center; /* Centre l'image dans son conteneur */
}

.rss-feed-title {
    font-size: 1.2em;
    color: #1e90ff;
    margin: 0;
    flex-grow: 1; /* Permet au titre de prendre l'espace restant */
    white-space: nowrap; /* Empêche le titre de passer à la ligne */
    overflow: hidden; /* Cache le texte qui dépasse */
    text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est trop long */
}

.rss-feed-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.rss-feed-item {
    padding: 1em;
    border-bottom: 1px solid #f0f0f0;
}

.rss-feed-item:last-child {
    border-bottom: none;
}

.rss-feed-item a {
    text-decoration: none;
    color: #333;
    display: block;
}

.rss-feed-item-title {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.rss-feed-item-date {
    font-size: 0.8em;
    color: #666;
}

@media (max-width: 768px) {
    #rss-feeds-container {
        grid-template-columns: 1fr;
    }
}